/* Desktops and laptops ----------- */
@media only screen and (min-width : 1281px) {

    /* Styles */
    html {
        overflow-y: scroll;
    }

    body {
        padding: 2% 10%;
        background-color: rgb(46, 46, 46);
        color: white;
    }

    .search-header {
        width: 100%;
        margin: 5px auto;
    }

    .button {
        width: 80px;
        height: 24px;
        background-color: #555555;
        border: 1px solid #000000;
        color: white;
        margin-left: 2px;
        cursor: pointer;
    }

    .search-bar {
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }

    .results-category {
        width: 70%;
        background-color: rgb(27, 27, 27);
        padding: 20px 30px 15px 10px;
        margin: 20px auto;
        align-items: left;
    }

    .category-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category {
        font-size: 38px;
    }

    .item {
        width: 95%;
        padding: 10px 10px;
        background-color: rgb(34, 34, 34);
        border: 1px solid black;
        border-radius: 0%;
        margin: 10px 0px 5px 0px;
        white-space: pre-wrap;
    }

    .item-header {
        width: 100%;
        padding: 0px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid rgb(15, 15, 15);
    }

    .item-lore {
        padding-top: 4px;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: #ffffff;
        font-size: 20px;
    }

    a:hover {
        color: #00a2ff;
        cursor: pointer;
    }

    .category-toggle-button {
        width: 30px;
        height: 30px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        right: -15px;
        top: -5px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .item-toggle-button {
        width: 20px;
        height: 20px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        bottom: -3px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .category-minus-symbol {
        line-height: 20px;
    }

    .category-plus-symbol {
        line-height: 25px;
    }

    .item-minus-symbol {
        line-height: 12px;
    }

    .item-plus-symbol {
        line-height: 15px;
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    html {
        overflow-y: scroll;
    }

    body {
        padding: 2% 10%;
        background-color: rgb(46, 46, 46);
        color: white;
    }

    .search-header {
        width: 100%;
        margin: 5px auto;
    }

    .button {
        width: 80px;
        height: 24px;
        background-color: #555555;
        border: 1px solid #000000;
        color: white;
        margin-left: 2px;
        cursor: pointer;
    }

    .search-bar {
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }

    .results-category {
        width: 100%;
        background-color: rgb(27, 27, 27);
        padding: 20px 30px 15px 10px;
        margin: 20px auto;
        align-items: left;
    }

    .category-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category {
        font-size: 38px;
    }

    .item {
        width: 95%;
        padding: 10px 10px;
        background-color: rgb(34, 34, 34);
        border: 1px solid black;
        border-radius: 0%;
        margin: 10px 0px 5px 0px;
        white-space: pre-wrap;
    }

    .item-header {
        width: 100%;
        padding: 0px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid rgb(15, 15, 15);
    }

    .item-lore {
        padding-top: 4px;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: #ffffff;
        font-size: 20px;
    }

    a:hover {
        color: #00a2ff;
        cursor: pointer;
    }

    .category-toggle-button {
        width: 30px;
        height: 30px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        right: -15px;
        top: -5px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .item-toggle-button {
        width: 20px;
        height: 20px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        bottom: -3px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .category-minus-symbol {
        line-height: 20px;
    }

    .category-plus-symbol {
        line-height: 25px;
    }

    .item-minus-symbol {
        line-height: 12px;
    }

    .item-plus-symbol {
        line-height: 15px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) {

    /* Styles */
    html {
        overflow-y: scroll;
    }

    body {
        padding: 2% 10%;
        background-color: rgb(46, 46, 46);
        color: white;
    }

    .search-header {
        width: 100%;
        margin: 5px auto;
    }

    .button {
        width: 80px;
        height: 24px;
        background-color: #555555;
        border: 1px solid #000000;
        color: white;
        margin-left: 2px;
        cursor: pointer;
    }

    .search-bar {
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }

    .results-category {
        width: 80%;
        background-color: rgb(27, 27, 27);
        padding: 20px 30px 15px 10px;
        margin: 20px auto;
        align-items: left;
    }

    .category-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category {
        font-size: 38px;
    }

    .item {
        width: 95%;
        padding: 10px 10px;
        background-color: rgb(34, 34, 34);
        border: 1px solid black;
        border-radius: 0%;
        margin: 10px 0px 5px 0px;
        white-space: pre-wrap;
    }

    .item-header {
        width: 100%;
        padding: 0px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid rgb(15, 15, 15);
    }

    .item-lore {
        padding-top: 4px;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: #ffffff;
        font-size: 20px;
    }

    a:hover {
        color: #00a2ff;
        cursor: pointer;
    }

    .category-toggle-button {
        width: 30px;
        height: 30px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        right: -15px;
        top: -5px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .item-toggle-button {
        width: 20px;
        height: 20px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        bottom: -3px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .category-minus-symbol {
        line-height: 20px;
    }

    .category-plus-symbol {
        line-height: 25px;
    }

    .item-minus-symbol {
        line-height: 12px;
    }

    .item-plus-symbol {
        line-height: 15px;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

    /* Styles */
    html {
        overflow-y: scroll;
    }

    body {
        padding: 2% 10%;
        background-color: rgb(46, 46, 46);
        color: white;
    }

    .search-header {
        width: 100%;
        margin: 5px auto;
    }

    .button {
        width: 80px;
        height: 24px;
        background-color: #555555;
        border: 1px solid #000000;
        color: white;
        margin-left: 2px;
        cursor: pointer;
    }

    .search-bar {
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }

    .results-category {
        width: 100%;
        background-color: rgb(27, 27, 27);
        padding: 20px 30px 15px 10px;
        margin: 20px auto;
        align-items: left;
    }

    .category-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category {
        font-size: 38px;
    }

    .item {
        width: 95%;
        padding: 10px 10px;
        background-color: rgb(34, 34, 34);
        border: 1px solid black;
        border-radius: 0%;
        margin: 10px 0px 5px 0px;
        white-space: pre-wrap;
    }

    .item-header {
        width: 100%;
        padding: 0px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid rgb(15, 15, 15);
    }

    .item-lore {
        padding-top: 4px;
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: #ffffff;
        font-size: 20px;
    }

    a:hover {
        color: #00a2ff;
        cursor: pointer;
    }

    .category-toggle-button {
        width: 30px;
        height: 30px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        right: -15px;
        top: -5px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .item-toggle-button {
        width: 20px;
        height: 20px;
        background-color: rgb(53, 53, 53);
        color: white;
        border: 2px solid rgb(30, 30, 30);
        position: relative;
        bottom: -3px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .category-minus-symbol {
        line-height: 20px;
    }

    .category-plus-symbol {
        line-height: 25px;
    }

    .item-minus-symbol {
        line-height: 12px;
    }

    .item-plus-symbol {
        line-height: 15px;
    }
}